.product {
    position: relative;

    .shopping-cart__add{
        transition: .15s;
        cursor: pointer;
        width: fit-content;
        position: absolute;
        bottom: 5px;
        right: 15px;

        &:hover{
            color: #363636;
        }

        &:active{
            transform: scale(1.5);
        }
    }

    a {
        color: black;
        text-decoration: none;
    }

    width: 18%;
    border: .75px solid black;
    border-radius: 5%;
    padding: 15px 10px;

    .product__name {
        margin-bottom: 25px;

        &:hover {
            a {
                color: rgb(103, 22, 103);
            }
        }
    }

    .product__image {
        margin: 0 auto;
        width: fit-content;

        img {
            position: relative;
            height: 30vh;
            max-width: 100%;
            margin: 0 auto;
            transition: .15s;
            cursor: pointer;

            &:active {
                transform: scale(2);
            }
        }
    }
}