.search{
    height: 50%;
    width: 50%;

    input{
        height: 100%;
        width: 100%;
        padding-left: 15px;
        border: none;

        &:focus{
            outline: none;
            background-color: white;
        }
    }
}